# User-specific stuff
.idea

# Student Service
student-service/.idea
student-service/out
student-service/target

# Subject Service
subject-service/.idea
subject-service/build
subject-service/.gradle
subject-service/!src/**/build/
subject-service/!gradle-wrapper.jar
subject-service/!gradle-wrapper.properties

# Course Plan Service
course-plan-service/.idea
course-plan-service/out
course-plan-service/target

out